body{
  font-family: Arial, Helvetica, sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  li {
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #222;
  }
  @media (min-width:768px){
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #111;
    }
   li{
    float: left;
   }
  li a {
    display: flex;
    color: white;
    flex-direction: row row-reverse;
    padding: 1rem;
    text-decoration: none;
  }
 }