.square {
    border: 3px solid blue;
    width: 130px;
    height: 130px;
    display: inline-block;
    overflow: scroll;
 }
 .boxes{
    border: 3px solid black;
    position:relative;
 }
 .box{
    width: 5rem;
    height: 5rem;
 }
 .box-one{
    background: purple;
 }
 .box-two{
    background: green;
    position: absolute;
    right: 0;
   bottom: 0;
   z-index: 999999;
 }
 .box-three{
    background: orange;
 }