* ,*::before ,*::after{
   box-sizing: border-box;
}

body {
   margin: 10px;
}
.box::before{
   content:"Hello";
}
p{
   border: 3px solid red;
}
.container{
display: grid;
 grid-template:100px auto 100px / 30fr 70fr;
 grid-template-areas: 
 "header  header"
 "sidebar main" 
 "        footer";
 row-gap: 10px;
 column-gap: 10px;
 border:5px solid grey;
height: 100vh;
}
.box{
  
   background-color: indigo;
}
.box-one{
   grid-area: "header";
}
.box-four{
   grid-area: "footer";
}