body{
    margin: 15px;
}


.container{
    width: 10rem;
    height: 10rem;
    background-color: blueviolet;
    overflow: hidden;
  
}
.box {
    display: flex;
    width: 10rem;
    height: 5rem;
    background-color: aquamarine;
    justify-content: flex-end;
 
}
 img{
    position: relative;
    border-radius: 50%;
    background-color: aquamarine;
    transform: rotate(5deg);
 }
img:hover{
    transform: rotate(0deg);
}